html {
    --card-content-color: #4E4E4E;

	--complementary-color: #7e0020;
	--complementary-color-clearer: #ad231e;
	--analoguous-color-1: #007e20;
	--analoguous-color-1-clearer: #25a136;
	--analoguous-color-2: #005f7e;
	--analoguous-color-2-clearer: #2c82a7;
}

.timeline {
    position: relative;
    margin: 20px 0;
    padding: 20px 0;
}
.timeline-zone {
    display: flex;
    flex-direction: column;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    background-color: var(--main-color);
    transform: translateX(-50%);
}

.timeline-item {
    position: relative;
    margin: 20px 0;
    padding: 20px 40px;
    width: 50%;
    box-sizing: border-box;
}
.timeline-item::before {
    border-radius: 50%;
    border: 3px solid white;
    content: '';
    height: 15px;
    position: absolute;
    top: 20px;
    width: 15px;
    z-index: 1;
}
.certificate.timeline-item::before {
    background-color: var(--analoguous-color-2); 
}
.job.timeline-item::before {
    background-color: var(--complementary-color);
}
.scolarship.timeline-item::before {
    background-color: var(--analoguous-color-1);
}

.timeline-item.left {
    left: 0;
    text-align: right;
    padding-right: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
}
.timeline-item.left::before {
    right:-10px;
}

.timeline-item.right {
    left: 50%;
    padding-left: 50px;
}
.timeline-item.right::before {
    left: -10px;
}

.timeline-content p {
    display: none;
}
.timeline-item:hover .timeline-content p {
    display: block;
}
.timeline-content ul {
    display: none;
}
.timeline-item:hover .timeline-content ul {
    display: block;
}
.timeline-content {
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
}
.certificate .timeline-content {
    border: 1px solid var(--analoguous-color-2);
}
.job .timeline-content {
    border: 1px solid var(--complementary-color);
}
.scolarship .timeline-content {
    border: 1px solid var(--analoguous-color-1);
}

.timeline-date {
    font-weight: bold;
    width: 100%;
}
.certificate .timeline-date {
    color: var(--analoguous-color-2-clearer); 
}
.job .timeline-date {
    color: var(--complementary-color-clearer);
}
.scolarship .timeline-date {
    color: var(--analoguous-color-1-clearer);
}

.timeline-content h3 {
    margin: 0;
}
.certificate .timeline-content h3 {
    color: var(--analoguous-color-2); 
}
.job .timeline-content h3 {
    color: var(--complementary-color);
}
.scolarship .timeline-content h3 {
    color: var(--analoguous-color-1);
}

.timeline-content p {
    color: var(--card-content-color);
    font-size: 16px;
    margin: 5px 0;
}

ul {
    color: var(--card-content-color);
    font-size: 14px;
    list-style: none;
}