.presentation-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.presentation-block__avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.presentation-block__avatar  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.presentation-block__bio {
    width:70%
}