html { 
    --card-content-color: #4E4E4E;
	--analoguous-color-1: #007e20;
	--analoguous-color-2: #005f7e;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.card {
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    width: 30%;
}
.card:nth-child(even) {
    border: 2px solid var(--analoguous-color-1);
}

.card:nth-child(odd) {
    border: 2px solid var(--analoguous-color-2);
}
  
.card-header {
    font-size: large;
    font-weight: bold;
    margin: 10px;
}
.card-header:has(.subheader) {
    margin-bottom: 0px;
}
.card:nth-child(even) .card-header:not(:has(.card-subheader)) {
    border-bottom: 1px solid var(--analoguous-color-1);
}
.card:nth-child(odd) .card-header:not(:has(.card-subheader)) {
    border-bottom: 1px solid var(--analoguous-color-2);
}
.card:nth-child(even) .card-header {
    color: var(--analoguous-color-2);
}
.card:nth-child(odd) .card-header {
    color: var(--analoguous-color-1);
}

.card:nth-child(even) .card-subheader {
    border-top: 1px solid var(--analoguous-color-1);
}
.card:nth-child(odd) .card-subheader {
    border-top: 1px solid var(--analoguous-color-2);
}
.card-subheader {
    color: var(--card-content-color);
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    font-weight: normal;
}

.card-content {
    color: var(--card-content-color);
    font-size: 14px;
    font-style: italic;
    padding: 0px 10px;
}

.card-footer {
    margin: 0px 10px;
    padding: 10px 0px;
    text-align: center;
}
.card:nth-child(even) .card-footer {
    border-top: 1px solid var(--analoguous-color-1);
}

.card:nth-child(odd) .card-footer {
    border-top: 1px solid var(--analoguous-color-2);
}

.card-footer span {
    border: none;
    color: white;
    display: inline-block;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 4px;
    margin: 3px 0px;
}

.card-footer span:nth-child(odd){
    background-color: var(--analoguous-color-1);
}
.card-footer span:nth-child(even){
    background-color: var(--analoguous-color-2);
}