@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/** Nice font just in case I do editorial stuff : Bodoni Moda SC */

html {
	--main-color: #007e5e;
	--complementary-color: #7e0020;
	--analoguous-color-1: #007e20;
	--analoguous-color-2: #005f7e;
	--triadic-color-1: #00207e;
	--triadic-color-2: #5f007e;

	height: 100%;
	font-family: "Quattrocento", sans-serif;
	margin: 0;
}

a.active {
	color: var(--complementary-color);
}
a:hover:not(.active) {
	color: var(--complementary-color);
}  


header{
	background-color: var(--main-color);
	border-bottom: 2px solid var(--complementary-color);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
	display: flex;
	height: 5rem;
	padding: -1% 1% 1% -1%;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1000;
}
header a {
	color: white;
}
header a:has(span) {
	font-family: "Kode Mono", monospace;
	text-decoration: none;
	padding: 15px;
	width: 20%;
}
header span {
	font-size: xx-large;
}
header nav {
	width: 80%;
}
nav ul {
	display: flex;
	gap: 20px;
	justify-content:flex-end;
	list-style-type: none;
	margin-right: 15px;
	overflow: auto;
	padding:10px;
}
nav li a {
	font-size: large;
	text-decoration: none;
}


body{
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--main-color);
}

a {
	color: var(--complementary-color);
	text-decoration: none;
}

#contenu {
	background-color:white;
	margin: 1% 10%;
	padding:1px 16px;
}

.paragraph {
	padding: 1% 0% 0% 0%;
}
.paragraph h3{
	margin-bottom: 0%;
}.paragraph h2{
	margin-bottom: 0.25%;
}


footer {
	background-color: var(--main-color);
	border-top: 2px solid var(--complementary-color);
	display: flex;
	justify-content: center;
	margin-top: auto;
	padding: 15px 0px;
	width: 100%;
}
.socials {
	display: flex;
	gap: 20px;
}
.socials a {	
	color: white;
	text-decoration: none;
}
.socials__logo {
	width: 20px;
	height: 20px;
}

#ecoindex-badge {
	position: absolute;
	left: 10px;
}